body {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /*boldness, 100-700*/
    position: absolute; /*centering*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
}
p {
    font-size: 12px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block; /*wraps effective link area to icon*/
}

.link:hover {
    color: blue;
}
.link {
    text-decoration: underline;
}
.link:visited {
    color: green;
} /*how to make turn blue over hover if alr visited?*/

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
