body {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /*boldness, 100-700*/
    position: absolute; /*centering*/
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    /* top: 20%;
    width: 100%; */
}
p {
    font-size: 12px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block; /*wraps effective link area to icon*/
}

.link:hover {
    color: blue;
}
.link {
    text-decoration: underline;
}

.button {
    background-color: rgb(247, 237, 239);
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* background-color: ; */
}

.special {
    border: 2px solid #cca0bb;
}

.log-in {
    font-size: 14px;
    padding: 5px 25px; /* vertical and horizontal padding */
}

.form {
    background-color: rgb(214, 190, 206);
    padding: 10px 0px;
}
