html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
    margin: auto; /* centering */
    width: 50%;
    text-align: center;
    background-color: #FFF1F3;
}
p {
    font-size: 15px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block; /*wraps effective link area to icon*/
}
canvas {
    background-color: white;
}

.link:hover {
    color: blue;
}
.link {
    text-decoration: underline;
}

.button {
    background-color: rgb(209, 217, 255);
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* background-color: ; */
}

.button:hover {
    border: 1px solid #3b2c59;
}

.special {
    border: 2px solid #8389aa;
}

.log-in {
    font-size: 14px;
    padding: 5px 25px; /* vertical and horizontal padding */
}
