html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
    text-align: center;
    position: absolute; /*centering*/
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    /* top: 20%;
    width: 100%; */
}
p {
    font-size: 15px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block; /*wraps effective link area to icon*/
}

.link:hover {
    color: blue;
}
.link {
    text-decoration: underline;
}

.button {
    background-color: rgb(247, 237, 239);
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* background-color: ; */
}

.button:hover {
    border: 1px solid #cca0bb;
}

.special {
    border: 2px solid #aa839b;
}

.log-in {
    font-size: 14px;
    padding: 5px 25px; /* vertical and horizontal padding */
}
